In [2]:
import pandas as pd
import numpy as np

In [2]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
dates = pd.date_range('today', periods=6)  # 定义时间序列作为 index
num_arr = np.random.randn(6, 4)  # 传入 numpy 随机数组
columns = ['A', 'B', 'C', 'D']  # 将列表作为列名
df1 = pd.DataFrame(num_arr, index=dates, columns=columns)
df1

                                   A         B         C         D
2023-12-08 10:53:57.403007  0.449373 -0.492246 -1.348745 -1.025049
2023-12-09 10:53:57.403007 -0.530280  0.223494  0.168982 -0.498524
2023-12-10 10:53:57.403007 -1.156541 -0.873378 -2.080489 -0.390194
2023-12-11 10:53:57.403007  0.152774 -0.711359 -1.580234 -0.392393
2023-12-12 10:53:57.403007 -0.611103 -0.923988  2.099935  0.027279
2023-12-13 10:53:57.403007 -0.214474  1.495608  0.123345 -2.197069

DatetimeIndex(['2023-12-08 10:46:57.941206', '2023-12-09 10:46:57.941206',
               '2023-12-10 10:46:57.941206', '2023-12-11 10:46:57.941206',
               '2023-12-12 10:46:57.941206', '2023-12-13 10:46:57.941206'],
              dtype='datetime64[ns]', freq='D')

In [18]:
a = np.random.rand(10)
print(a.std(), a.mean())
# a.mean()

0.2715048061665953 0.5269820245672386

In [ ]:
# shift() 是一个 Pandas 库中 DataFrame 和 Series 对象的方法，用于将数据沿轴方向移动指定数量的步数。请注意，这是 Pandas 中的方法，而不是 Python 内置的列表方法。
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df)
df1 = df.loc[df['A'].shift() != df['A']]  # 当前行和前一行不同
df1

In [7]:
# 25.一个有5列的DataFrame，求哪一列的和最小
df = pd.DataFrame(np.random.random(size=(5, 5)), columns=list('abcde'))
print(df)
df.sum().idxmin()

          a         b         c         d         e
0  0.190012  0.956006  0.487364  0.843339  0.835707
1  0.758324  0.238696  0.443913  0.531902  0.536586
2  0.670884  0.474630  0.642963  0.916294  0.169260
3  0.036443  0.466266  0.426276  0.698155  0.615722
4  0.025479  0.973401  0.626212  0.264912  0.472023

'a'

In [18]:
# 26.给定DataFrame，求A列每个值的前3大的B的和
import pandas as pd

df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# 使用groupby和nlargest计算每个值的前3大的B的和
df1 = df.groupby('A')['B'].sum()

print("原始 DataFrame:")
print(df)

print("\n每个值的前3大的B的和:")
print(df1)

原始 DataFrame:
    A    B
0   a   12
1   a  345
2   a    3
3   b    1
4   b   45
5   c   14
6   a    4
7   a   52
8   b   54
9   c   23
10  c  235
11  c   21
12  b   57
13  b    3
14  c   87

每个值的前3大的B的和:
A
a    416
b    160
c    380
Name: B, dtype: int64

In [20]:
df = pd.DataFrame({'A': [1,2,11,11,33,34,35,40,79,99], 
                   'B': [1,2,11,11,33,34,35,40,79,99]})
# print(df)
df1 = df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()
print(df1)

A
(0, 10]        3
(10, 20]      22
(20, 30]       0
(30, 40]     142
(40, 50]       0
(50, 60]       0
(60, 70]       0
(70, 80]      79
(80, 90]       0
(90, 100]     99
Name: B, dtype: int64

In [21]:
# 30.给定DataFrame，将负值代替为同组的平均值
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [-12,345,3,1,45,14,4,-52,54,23,-235,21,57,3,87]})
print(df)

def replace(group):
    mask = group<0
    group[mask] = group[~mask].mean()
    return group

df['vals'] = df.groupby(['grps'])['vals'].transform(replace)
print(df)

   grps  vals
0     a   -12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a   -52
8     b    54
9     c    23
10    c  -235
11    c    21
12    b    57
13    b     3
14    c    87
   grps        vals
0     a  117.333333
1     a  345.000000
2     a    3.000000
3     b    1.000000
4     b   45.000000
5     c   14.000000
6     a    4.000000
7     a  117.333333
8     b   54.000000
9     c   23.000000
10    c   36.250000
11    c   21.000000
12    b   57.000000
13    b    3.000000
14    c   87.000000

In [22]:
# 创建连续工作日
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

s.head(10)

2015-01-01    0.092474
2015-01-02    0.817488
2015-01-05    0.974394
2015-01-06    0.153550
2015-01-07    0.694652
2015-01-08    0.228610
2015-01-09    0.487368
2015-01-12    0.926609
2015-01-13    0.903025
2015-01-14    0.076576
Freq: B, dtype: float64

In [23]:
# 36.创建2015-2016每月第三个星期四的序列
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU') # "Week Of Month"

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')

In [26]:
#  层次化索引
letters = ['A', 'B', 'C']
numbers = list(range(4))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(12), index=mi)
s

A  0    0.298529
   1    0.366230
   2    0.904217
   3    0.429713
B  0    0.598670
   1    0.909490
   2    0.260656
   3    0.207627
C  0    0.047077
   1    0.799205
   2    0.117957
   3    0.255750
dtype: float64

In [28]:
# 44.选择二级索引为1, 3的行
s.loc[:, [1, 3]]

A  1    0.366230
   3    0.429713
B  1    0.909490
   3    0.207627
C  1    0.799205
   3    0.255750
dtype: float64

In [29]:
# 45.对s进行切片操作，取一级索引从头至B，二级索引从2开始到最后
s.loc[pd.IndexSlice[:'B', 2:]]

A  2    0.904217
   3    0.429713
B  2    0.260656
   3    0.207627
dtype: float64

In [31]:
# 46.计算每个一级索引的和（A, B, C每一个的和）
# s.sum(level=0)